/* Reset et styles généraux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgba(231,235,234,255);
}

a {
    text-decoration: none;
    color: inherit;
}
/* Styles pour le conteneur du blog */
#blog-container {
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Styles pour les miniatures des articles du blog */
.blog-item {
    width: 30%;
    margin: 15px;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
    transition: 0.3s;
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
    transform: translateY(0);
}

.blog-item:hover {
        box-shadow: 20px 40px 50px 20px rgba(0,0,0,0.2);
    transform: translateY(-15px);
}

.blog-item img {
    width: 100%;
    height: 50%;
    border-bottom: none;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

.blog-item .title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

.blog-item .preview {
    font-size: 16px;
    margin: 10px;
    text-align: center;

}
/* Modification du style pour que le texte s'adapte à la taille de l'élément du blog */
.blog-item .title, .blog-item .preview {
    /* Autres styles... */
    /* Utilisation de pourcentage pour le margin permet d'adapter le texte à la taille de l'item */
    margin: 5%; 
    /* Utilisation de 'vw' pour la taille de la police pour la rendre responsive */
    font-size: 1.5vw; 
}


/* Styles pour le pied de page et le badge LinkedIn */
footer {
    background-color: #F8F8F8;
    padding: 20px
}

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    animation: bannerSlide 5s infinite;
}

@keyframes bannerSlide {
    0%, 100% {transform: translateX(0);}
    50% {transform: translateX(-10px);}
}

/* Barre de navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(66,78,86,255);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav-logo p {
    color: rgba(209,172,103,255);
    font-weight: bolder;
    font-size: 1.6rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.nav-links {
    display: flex;
}

.nav-links li {
    list-style: none;
    margin-left: 2rem;
    margin-right: 2rem;
}

.nav-links a {
    font-size: 1.2rem;
    color: rgba(232,237,240,255);
    transition: color 0.3s;
    letter-spacing: 3px;
    text-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.nav-links a:hover {
    color: rgba(232,237,240,255);
    text-decoration: underline;
    animation: fadeIn 0.2s;
    text-underline-offset: 0.5rem;

}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.hamburger span {
    display: block;
    height: 3px;
    background-color: rgba(209,172,103,255);
    transition: all 0.3s;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .hamburger {
        display: flex;
    }

    .nav-links.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 60px;
    right: 0;
    margin-top: 10px;
    width: 230px;
    height: 100%;
    background-color: rgba(66,78,86, 0.3);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    animation: slideIn 0.3s forwards;
}

.nav-links.active li {
    margin: 0.5rem 0;
}

#blog-container {
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.blog-item {
    width: 85%;
    margin: 15px;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
    transition: 0.3s;
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
    transform: translateY(0);
}
.blog-item .title {
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    text-align: center;
}

.blog-item .preview {
    font-size: 16px;
    margin: 5px;
    text-align: center;

}
