/* Reset et styles généraux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgba(231,235,234,255);
}

a {
    text-decoration: none;
    color: inherit;
}

/* Barre de navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(66,78,86,255);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav-logo p {
    color: rgba(209,172,103,255);
    font-weight: bolder;
    font-size: 1.6rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.nav-links {
    display: flex;
}

.nav-links li {
    list-style: none;
    margin-left: 2rem;
    margin-right: 2rem;
}

.nav-links a {
    font-size: 1.2rem;
    color: rgba(232,237,240,255);
    transition: color 0.3s;
    letter-spacing: 3px;
    text-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.nav-links a:hover {
    color: rgba(232,237,240,255);
    text-decoration: underline;
    animation: fadeIn 0.2s;
    text-underline-offset: 0.5rem;

}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.hamburger span {
    display: block;
    height: 3px;
    background-color: rgba(209,172,103,255);
    transition: all 0.3s;
}

/* Bloc central 3D */

.photo-profil {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: top;
  border-radius: 5%;
}

.image {
    margin-right: 2.5%;
}


.bloc-3d h1 {
    font-size: 2rem;
}
.bloc-3d p {
    line-height: 30px;
}

.buttons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 7rem;
  animation: fadeIn 2s;
}

button,
.button {
  background-color: rgba(66,78,86,255);
  color: #fff;
  border: none;
  padding: 1.6rem 3rem;
  font-size: 1.1rem;
  cursor: pointer;
  text-decoration: none;
  border-radius: 30px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

button:hover,
.button:hover {
animation: fadeIn 0.3s;
font-weight: bold;
background-color: rgba(209,172,103,255);
box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
box-shadow: rgba(66,78,86, 0.4) 5px 5px, rgba(66,78,86, 0.3) 10px 10px, rgba(66,78,86, 0.2) 15px 15px, rgba(66,78,86, 0.1) 20px 20px, rgba(66,78,86, 0.05) 25px 25px;
border-radius: 0px;
}

button:focus {
outline: none;
border-radius: 30px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .hamburger {
        display: flex;
    }
    .nav-links.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 60px;
    right: 0;
    margin-top: 10px;
    width: 230px;
    height: 100%;
    background-color: rgba(66,78,86, 0.3);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    animation: slideIn 0.3s forwards;
}
.nav-links.active li {
    margin: 0.5rem 0;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* Ajout pour le responsive des éléments */

@media (max-width: 768px) {
    /* Ajustements du bloc central 3D */
    .bloc-3d {
        margin: 150px 5%;
        flex-direction: column;
        height: auto;
        padding: 2.5%;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .content {
        flex-direction: column;
    }
}

    .image {
        padding-top: 10px;
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .text {
        padding: 1rem;
        max-width: 100%;
    }

    /* Ajustements des boutons */
    .buttons {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        text-align: center;
        padding: 1.6rem 3rem
    }

    button,
    .button {
        width: 75%;
        margin-bottom: 5px;
    }
}


@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

